*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/*CORES*/
:root{
    --colorA: #3f1705da;
    --colorB: #DD5323;
    --colorC: #FF8600;
}

header{
    position: relative;
}

/*NAVBAR*/
.navbar{
    position: absolute; 
    left: 59%; 
    top: 10%;
}

.nav-link{
    margin-top: 2px;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.781);
}

.nav-link:hover{
    border-radius: 14px;
    background-color: var(--colorC);
    color:#fff;
}

.btn-close{
    display: none;
}

.logo{
    max-width: 50%;
    position: absolute;
    left: 50%;
    top: 35%; 
}

.apresentation-text{
    position: absolute; 
    width: 34%;
    left: 54.5%;  
    top: 59%; 
    font-size: 1em;
    text-align: justify;
}

/*LANDING-PAGE*/
.landing-page{
    width: 100%;
}

/*NAVEGAÇÃO*/
.navigation{
    padding: 30px;
    background-color: var(--colorA);
}

h2{
    margin-bottom: 1em;
    text-align: center;
    color: #fff;
}

/*ALFABETO*/
#alphabet{
    text-align: center;
    border: 5px 1px solid;
    border-radius: 40px;
    background-color: var(--colorC);
    padding: 10px;
}

.letter-menu{
    color: #fff;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1em;
    font-size: 38px;
    font-family: 'Oi', cursive;
    cursor: pointer;
}

.letter-menu:hover{
    color: var(--colorB);
}

/*CONCEITOS*/
.container-fluid{
    padding: 0;
}

.concepts{
    color: #fff;
    padding: 30px;

}
.concepts .row{
    padding: 0 6em;
}

h3{
    font-size: 34px;
    font-family: 'Oi', cursive;
}

.word{
    color: #fff;
    list-style: none;
    font-size: 28px;
    margin-bottom: .6em;
}

.word:hover{
    cursor: pointer;
}

#concepts-a, #concepts-d, #concepts-g, #concepts-j, #concepts-m, #concepts-p, #concepts-s, #concepts-v, #concepts-y{
    background-color: var(--colorA);
}
#concepts-b, #concepts-e, #concepts-h, #concepts-k, #concepts-n, #concepts-q, #concepts-t, #concepts-w, #concepts-z{
    background-color: var(--colorB);
}
#concepts-c, #concepts-f, #concepts-i, #concepts-l, #concepts-o, #concepts-r, #concepts-u, #concepts-x{
    background-color: var(--colorC);
}

/*RODAPÉ*/
footer{
    background-color: rgb(44, 43, 43);
}

footer .container{
    color: #fff;
    padding: 3em 3em 1em 3em;  
}

.footer-text {
    text-align: justify;
}

footer p {
    text-align: center;
    font-size: .9em;
}

footer img{
    width: 20%;
}

footer .img{
    justify-content: center;
    text-align: center;
}

/*TOGGLE*/
.abrir_imagem{
    padding: 0px 0 5px 30px;
    list-style: none;
    background-image: url("../img/seta-baixo.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 23px;
}

.abrir_imagem.fechar{
    padding: 0px 0 5px 30px;
    list-style: none;
    background-image: url("../img/seta-cima.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 23px;
}

/*RESPONSIVIDADE*/
@media screen and (max-width: 1000px){
    .apresentation-text{
        font-size: 14px;
    }
    .letter-menu{
        font-size: 25px;
    }
    footer img{
        width: 35%;
    }
}

@media (min-width: 1980px){
    .navbar{
        font-size: 34px;
    }
    .apresentation-text{
        font-size: 1.5em;
    }
}
@media (max-width: 800px){
    .apresentation-text{
        font-size: .7em;
    }
    
}

/*SIDEBAR*/

@media (max-width: 990px) {
    .navbar{
        left: 88%; 
        top: 11%;
    }

    .navbar-nav .nav-link {
        color:#fff;
        padding-left: 10px;
    }

    .btn-close{
        padding: 5% 0;
        display: block;
        color: black;
    }

    .bi-x-lg::before {
        display:none;
    }
    
    .offcanvas-collapse {
      position: fixed;
      z-index: 1;
      top: 0; /* Height of navbar */
      bottom: 0;
      left: 100%;
      width: 50%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: hidden;
      background-color: var(--colorB);
      transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    .offcanvas-collapse.open {
      visibility: visible;
      transform: translateX(-100%);
    }
  }

