*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/*CORES*/
:root{
    --colorA: #3f1705da;
    --colorB: #DD5323;
    --colorC: #FF8600;
}

body{
    width: 100vw;
}

header{
    position: relative;
}

/*LANDING-PAGE*/
.landing-page{
    width: 100vw;
}

.logo{
    max-width: 50%;
    position: absolute;
    left: 50%;
    right: -19%; 
    top: 35%; 
  

    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

.apresentation-text{
    position: absolute;
    left: 45%; 
    width: 39%;
    left: 52%;  
    top: 60%; 
    font-size: 1em;
    font-weight: 600;
}

/*NAVBAR*/
.navbar{
    position: absolute;
    right: 16%; 
    left: 59%; 
    top: 10%;
}

.nav-item{
    margin-top: 2px;
    font-size: 1.3em;
    font-weight: bold;
}

.nav-item:hover{
    border-radius: 15px;
    background-color: var(--colorC);
}

/*NAVEGAÇÃO*/
.navigation{
    padding: 30px;
    background-color: var(--colorA);
}

h2{
    margin-bottom: 1em;
    text-align: center;
    color: white;
}

/*ALFABETO*/
#alphabet{
    text-align: center;
    border: 5px solid;
    border-radius: 40px;
    background-color: var(--colorC);
    padding: 10px;


}
.letter-menu{
    color: white;
    text-decoration: none;
    letter-spacing: 1cm;
    font-size: 38px;
    font-family: 'Oi', cursive;
    cursor: pointer;
}

.letter-menu:hover{
    color: var(--colorB);
}

/*CONCEITOS*/
.container-fluid{
    padding: 0;
}

.concepts{
    color: white;
    padding: 30px;

}
.concepts .row{
    padding: 0 6em;
}

h3{
    font-size: 34px;
    font-family: 'Oi', cursive;
}

.word{
    color: white;
    list-style: none;
    font-size: 28px;
    margin-bottom: .6em;
}

.word:hover{
    cursor: pointer;
}

#concepts-a, #concepts-d{
    background-color: var(--colorA);
}
#concepts-b, #concepts-e{
    background-color: var(--colorB);
}
#concepts-c{
    background-color: var(--colorC);
}


footer .container{
    padding: 2em;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}
footer img {
    width: 90%;
}

.abrir_imagem{
    padding: 0px 0 5px 40px;
    list-style: none;
    background-image: url("../img/seta-baixo.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 34px;
}

.abrir_imagem.fechar{
    padding: 0px 0 5px 40px;
    list-style: none;
    background-image: url("../img/seta-cima.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 34px;
}


/*responsividade*/
@media screen and (min-width: 720px){
 
}
@media screen and (max-width: 1000px){
    .apresentation-text{
        font-size: 14px;
    }
    .letter-menu{
        font-size: 25px;
    }
}
/*para telas acima de 1480px*/
@media screen and (min-width: 1980px){
    .navbar{
        font-size: 34px;
    }
    .apresentation-text{
        font-size: 1.5em;
    }
}